pip install opencv-python
pip install opencv-contrib-python
pip install pygame
pip install mutagen
pip install gTTS
pip install SpeechRecognition
pip install mediapipe==0.10.14
pip install imutils
pip install pandas
pip install pytesseract
pip install yolov5 
pip install torchvision==0.11.3
pip install ipython
pip install urllib3==1.24.1
pip install numpy==1.23.1
pip install protobuf==3.20.0
pip install pyttsx3
pip install tensorflow==2.7.0
